<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Chart #1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          content1
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Chart #1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          content
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Chart #1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          content
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
